<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <a href="getProduct.php?id=1">Click here</a> -->
    <a href="Product.html?id=1">Click here</a>
    <img src="../pictures/user.png" width="20px" height="20px">
    <select>
        <option value="Login">login</option>
        <option value="Logout">logout</option>
    </select>
</body>
<script src="getdata.js"></script>
</html>