
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content{
    display: none;
    border: 2px solid red;
  }
  
  /* Show the dropdown menu on hover */
  .account:hover .dropdown-content {
    display: block;
  }
